.page {
  width: 100%;
  min-height: 100%;
  background: #ffde04;
  color: #020200;
  font-family: Roboto, sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  .wrapper {
    margin: 10px auto;
    width: 1000px;
  }

  .header {
    a {
      text-decoration: none;
      display: inline-block;
    }

    .logo {
      width: 160px;
      height: 80px;
      background-image: url('../assets/images/logo.jpg');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .title {
    font-size: 48px;
    margin: 20px 0 0 0;
  }

  .subtitle {
    font-size: 24px;
    font-weight: 300;
    margin: 5px 0 20px 0;
  }
}

.dish-list {
  display: flex;
  width: 100%;
  border-bottom: 4px solid #fff;
  border-top: 4px solid #fff;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  flex-wrap: wrap;

  &:first-child {
    border-bottom: 0;
  }

  .dish-list-item {
    border: 8px solid #fff;
    width: 160px;
    height: 160px;
    margin-right: 16px;
    margin-bottom: 16px;
    position: relative;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &:hover {
      cursor: pointer;

      img {
        opacity: 0.1;
      }
    }

    img {
      width: 160px;
      height: 160px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 0;
    }

    .dish-list-title {
      font-weight: bold;
      font-size: 18px;
      margin: 0 0 10px 0;
      text-align: center;
    }

    .dish-list-subtitle {
      font-size: 11px;
      margin: 0 0 2px 0;
    }
  }



  .dish-title {
    line-height: 32px;
  }
}
