<div class="page">
  <div class="wrapper">
    <div class="header">
      <a class="logo" [routerLink]="['']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"></a>
      <div class="nav">
<!--        <a [routerLink]="['']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>-->
<!--        <a [routerLink]="['list']" routerLinkActive="active-link">Groccery List</a>-->
      </div>
    </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
