<h2 class="title">Список продуктов</h2>
<p class="subtitle">Сформирован из выбранных блюд</p>

<div class="dish-list">
  <div class="dish-title">
    <div *ngFor="let key of objectKeys(items)">
      {{key}}: {{items[key]}} грамм
    </div>
  </div>
</div>


