

.dish {
  width: 100%;
  border: 8px solid #fff;
  padding: 16px;
  display: flex;
  margin-bottom: 16px;
  box-sizing: border-box;

  .dish-title {
    width: 100%;
  }

  .dish-subtitle {
    width: 100%;
    display: block;
  }
}





.big {
  min-width: 200px;
  height: 60px;
  border: 0;
  background: #020200;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding: 0 32px;
  outline:none;

  &:hover {
    background: rgba(2,2,0,0.9);
    cursor: pointer;
  }

  &.inactive {
    background: #ccc;

    &:hover {
      background: #ccc;
      cursor: default;
    }
  }
}

.dish-add {
  text-align: center;
}


