<h2 class="title">Выберите блюдо</h2>
<p class="subtitle">Выбирай блюдо на вечер, пару дней или на целую неделю и получай список продуктов</p>

<div class="dish-list">
  <div class="dish-list-item" *ngFor="let item of itemList, let i = index" (click)="removeItem(i)">
    <p class="dish-list-title">{{item.name}}</p>
    <p class="dish-list-subtitle">{{item.type}}</p>
    <p class="dish-list-subtitle">{{item.time}}</p>
    <img src="/assets/images/{{item.image}}" alt="{{item.name}}">
  </div>

  <div class="dish-title" *ngIf="!isListActive">
    <p>У вас пока еще нет ни одного выбранного блюда</p>
  </div>
</div>


<div class="dish-list">
  <div class="dish-list-item" *ngFor="let meal of mealList, let i = index" (click)="addItem(i)">
    <p class="dish-list-title">{{meal.name}}</p>
    <p class="dish-list-subtitle">{{meal.type}}</p>
    <p class="dish-list-subtitle">{{meal.time}}</p>
    <img src="/assets/images/{{meal.image}}" alt="{{meal.name}}">
  </div>

  <div class="dish-title" *ngIf="isItemListEmpty">
    <p>У вас закончились все доступные блюда</p>
  </div>
</div>

<div class="dish-add">
  <button class="big" (click)="goToList()" [ngClass]="isListActive ? 'active': 'inactive'">Перейти к списку продуктов</button>
</div>
